/* Import font CSS */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

/* Import Tailwind CSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Custom styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/* "@syncfusion/ej2": "^19.4.48",
    "@syncfusion/ej2-react-calendars": "^19.4.48",
    "@syncfusion/ej2-react-charts": "^19.4.50",
    "@syncfusion/ej2-react-dropdowns": "^19.4.52",
    "@syncfusion/ej2-react-grids": "^19.4.50",
    "@syncfusion/ej2-react-inputs": "^19.4.52",
    "@syncfusion/ej2-react-kanban": "^19.4.48",
    "@syncfusion/ej2-react-popups": "^19.4.53",
    "@syncfusion/ej2-react-richtexteditor": "^19.4.50",
    "@syncfusion/ej2-react-schedule": "^19.4.50", */

/* "@syncfusion/ej2": "^23.2.7",
    "@syncfusion/ej2-react-calendars": "^23.2.7",
    "@syncfusion/ej2-react-charts": "^23.2.7",
    "@syncfusion/ej2-react-dropdowns": "^23.2.7",
    "@syncfusion/ej2-react-grids": "^23.2.7",
    "@syncfusion/ej2-react-inputs": "^23.2.4",
    "@syncfusion/ej2-react-kanban": "^23.2.4",
    "@syncfusion/ej2-react-popups": "^23.2.4",
    "@syncfusion/ej2-react-richtexteditor": "^23.2.7",
    "@syncfusion/ej2-react-schedule": "^23.2.7", */
